[build]
  YARN_VERSION = "1.17.3"
  command = "yarn build"
  publish = "dist"
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/*"
  status = 200
  force = true
